<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Navigation ein-/ausblenden</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Projekt</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">

			<ul class="nav navbar-nav">
				{% for menuItem in mainMenu %}

						{% if menuItem.hasChildren %}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ menuItem.getText }} <span class="caret"></span></a>
								<ul class="dropdown-menu">
									{% for subMenuItem in menuItem.getMenuItemList %}
										{% if subMenuItem.hasChildren %}

											<li class="dropdown-submenu"> <!-- Neue CSS-Klasse .dropdown-submenu -->
												<a href="{{ subMenuItem.getUrl }}">{{ subMenuItem.getText }}</a>
												<ul class="dropdown-menu">
													{% for subSubMenuItem in subMenuItem.getMenuItemList %}
													<li class="dropdown-submenu">
														<a href="{{ subSubMenuItem.getUrl }}">{{ subSubMenuItem.getText }}</a>
														{% if subSubMenuItem.hasChildren %}
														<ul class="dropdown-menu">
															{% for subSubSubMenuItem in subSubMenuItem.getMenuItemList %}
																<li><a href="{{ subSubSubMenuItem.getUrl }}">{{ subSubSubMenuItem.getText }}</a></li>
															{% endfor %}
														</ul>
														{% endif %}
													</li>
													{% endfor %}
												</ul>
											</li>
										{% else %}
											<li><a href="{{ subMenuItem.getUrl }}">{{ subMenuItem.getText }}</a></li>
										{% endif %}

									{% endfor %}
								</ul>
							</li>
						{% else %}
							<li>
							<a href="{{ menuItem.getUrl }}">{{ menuItem.getText }}</a>
							</li>
						{% endif %}
				{% endfor %}

				{#
				<li class="dropdown-menu">
					<li class="dropdown-submenu"> <!-- Neue CSS-Klasse .dropdown-submenu -->
						<a href="#">Link 3</a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
								<a href="#">Link 3.1</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">3.1.1</a>
									</li>
									<li>
										<a href="#">3.1.2</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</li>#}

				{#
				<li class="active"><a href="#">Start</a></li>
				<li><a href="#ueber">Über</a></li>
				<li><a href="#kontakt">Kontakt</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown-Menü <span class="caret"></span></a>
					<ul class="dropdown-menu">
						{% for menuItem in mainMenu %}
						<li><a href="{{ menuItem.getUrl }}">{{ menuItem.getText }}</a></li>
						{% endfor %}
					</ul>
				</li>#}

			</ul>

			{% if accountMenu %}
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
					<ul class="dropdown-menu">
						{% if not isLoggedIn %}
							<li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
						{% else %}
							<li><a href="/account/logout" >Logout</a></li>
							{% for menuItem in accountMenu %}
								<li><a href="{{ menuItem.getUrl }}">{{ menuItem.getText }}</a></li>
							{% endfor %}
						{% endif %}
					</ul>
				</li>
			</ul>
			{% endif %}



		</div>
	</div>
</nav>

{% if not isLoggedIn %}
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Anmelden als VIP</h4>
			</div>
			<div class="modal-body">

				<form class="form-horizontal" method="post" action="/account/login">
					<div class="form-group">
						<label for="inputUsername" class="col-sm-3 control-label">Benutzer</label>
						<div class="col-sm-9">
							<input type="text" name="username" class="form-control" id="inputUsername" placeholder="Benutzername">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword" class="col-sm-3 control-label">Passwort</label>
						<div class="col-sm-9">
							<input type="password" name="password" class="form-control" id="inputPassword" placeholder="Passwort">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
							<button type="submit" class="btn btn-default">Anmelden</button>
						</div>
					</div>
				</form>



			</div>

		</div>
	</div>
</div>
{% endif %}